/* ALL THE COLOR VALUES USED */
:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 5.15rem;
    margin-bottom: 1rem;
}

body {
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--Very-light-gray);
    font-weight: 700;
    font-size: 2.3rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.description {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Transparent-white);
    font-weight: 400;
    font-size: rem;
    padding-top: 0rem;
    margin-bottom: 2.5rem;
}


.container {
    max-width: 55rem;
    min-height: 65vh;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.left,
.middle,
.right {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-evenly;
}

.left {
    background-color: var(--Bright-orange);
}

.middle {
    background-color: var(--Dark-cyan);
}

.right {
    background-color: var(--Very-dark-cyan);
}

/* CSS PROPERTY FOR BUTTONS */
main a {
    background-color: var(--Very-light-gray);
    border-radius: 2rem;
    border: none;
    font-weight: 500;
    transition: 0.01s;
    padding: 0.8em;
    margin-top: 2rem;
    width: 8rem;
}

.sedan:hover {
    border: 0.2em solid var(--Very-light-gray);
    background-color: var(--Bright-orange);
    color: var(--Very-light-gray);
}

.sedan {
    color: var(--Bright-orange);
}

.suv:hover {
    border: 0.2em solid var(--Very-light-gray);
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray);
}

.suv {
    color: var(--Dark-cyan);
}

.luxury:hover {
    border: 0.2em solid var(--Very-light-gray);
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray);
}

.luxury {
    color: var(--Very-dark-cyan);
}

/* FOOTER */


footer {
    font-size: 1em;
}

.footer a {
    color: hsl(228, 45%, 44%);
}

/* MEDIA QUERY FOR MOBILE */

@media(max-width:376px) {
    .container {
        display: block;
    }
}
